.task{
    background-image: url(https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2018Q4/devops-process-flow/devops-process-flow-header@2x.png);
    width: 100%;
    height: 700px;
    
}

.head{
    margin-left: 10%;
    padding-top: 3%;
    font-size: 200%;
    color: whitesmoke;
}

.text{
    margin-top: 100px;
    margin-left: 5%;
    font-size: 200%;
    color: whitesmoke;
}

span{
    background-color:#fead01; 
    
}


